# Prerequisites
*.d
*.pdf
*.mp4
*.cgi
.idea/
cmake-build-debug/
extra_files/
test_case/
http_server
console.cgi

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
